{
  "name": "timeshift",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "_src/scss/site.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"css/site.min.css\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    },
    {
      "path": "README.md",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":false,\"compiler-markdown\":{\"enabled\":true,\"sanitize\":false,\"githubFlavored\":false,\"wrapWithHtml\":false}}"
    },
    {
      "path": "_src/js/site.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"js/site.min.js\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\"-dist\"}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "_src/pug/pages",
      "js",
      "_src",
      "_src/js"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "_src/scss/site.scss",
      "imports": [
        "_src/scss/libraries/bootstrap/_bootstrap.scss",
        "_src/scss/libraries/tachyons/_tachyons.scss",
        "_src/scss/libraries/bootstrap/_variables.scss",
        "_src/scss/libraries/bootstrap/_mixins.scss",
        "_src/scss/libraries/bootstrap/_normalize.scss",
        "_src/scss/libraries/bootstrap/_print.scss",
        "_src/scss/libraries/bootstrap/_glyphicons.scss",
        "_src/scss/libraries/bootstrap/_scaffolding.scss",
        "_src/scss/libraries/bootstrap/_type.scss",
        "_src/scss/libraries/bootstrap/_code.scss",
        "_src/scss/libraries/bootstrap/_grid.scss",
        "_src/scss/libraries/bootstrap/_tables.scss",
        "_src/scss/libraries/bootstrap/_forms.scss",
        "_src/scss/libraries/bootstrap/_buttons.scss",
        "_src/scss/libraries/bootstrap/_component-animations.scss",
        "_src/scss/libraries/bootstrap/_dropdowns.scss",
        "_src/scss/libraries/bootstrap/_button-groups.scss",
        "_src/scss/libraries/bootstrap/_input-groups.scss",
        "_src/scss/libraries/bootstrap/_navs.scss",
        "_src/scss/libraries/bootstrap/_navbar.scss",
        "_src/scss/libraries/bootstrap/_breadcrumbs.scss",
        "_src/scss/libraries/bootstrap/_pagination.scss",
        "_src/scss/libraries/bootstrap/_pager.scss",
        "_src/scss/libraries/bootstrap/_labels.scss",
        "_src/scss/libraries/bootstrap/_badges.scss",
        "_src/scss/libraries/bootstrap/_jumbotron.scss",
        "_src/scss/libraries/bootstrap/_thumbnails.scss",
        "_src/scss/libraries/bootstrap/_alerts.scss",
        "_src/scss/libraries/bootstrap/_progress-bars.scss",
        "_src/scss/libraries/bootstrap/_media.scss",
        "_src/scss/libraries/bootstrap/_list-group.scss",
        "_src/scss/libraries/bootstrap/_panels.scss",
        "_src/scss/libraries/bootstrap/_responsive-embed.scss",
        "_src/scss/libraries/bootstrap/_wells.scss",
        "_src/scss/libraries/bootstrap/_close.scss",
        "_src/scss/libraries/bootstrap/_modals.scss",
        "_src/scss/libraries/bootstrap/_tooltip.scss",
        "_src/scss/libraries/bootstrap/_popovers.scss",
        "_src/scss/libraries/bootstrap/_carousel.scss",
        "_src/scss/libraries/bootstrap/_utilities.scss",
        "_src/scss/libraries/bootstrap/_responsive-utilities.scss",
        "_src/scss/libraries/tachyons/_normalize.scss",
        "_src/scss/libraries/tachyons/_colors.scss",
        "_src/scss/libraries/tachyons/_media-queries.scss",
        "_src/scss/libraries/tachyons/_debug-children.scss",
        "_src/scss/libraries/tachyons/_debug-grid.scss",
        "_src/scss/libraries/tachyons/_debug.scss",
        "_src/scss/libraries/tachyons/_box-sizing.scss",
        "_src/scss/libraries/tachyons/_aspect-ratios.scss",
        "_src/scss/libraries/tachyons/_images.scss",
        "_src/scss/libraries/tachyons/_background-size.scss",
        "_src/scss/libraries/tachyons/_background-position.scss",
        "_src/scss/libraries/tachyons/_outlines.scss",
        "_src/scss/libraries/tachyons/_borders.scss",
        "_src/scss/libraries/tachyons/_border-colors.scss",
        "_src/scss/libraries/tachyons/_border-radius.scss",
        "_src/scss/libraries/tachyons/_border-style.scss",
        "_src/scss/libraries/tachyons/_border-widths.scss",
        "_src/scss/libraries/tachyons/_box-shadow.scss",
        "_src/scss/libraries/tachyons/_code.scss",
        "_src/scss/libraries/tachyons/_coordinates.scss",
        "_src/scss/libraries/tachyons/_clears.scss",
        "_src/scss/libraries/tachyons/_display.scss",
        "_src/scss/libraries/tachyons/_flexbox.scss",
        "_src/scss/libraries/tachyons/_floats.scss",
        "_src/scss/libraries/tachyons/_font-family.scss",
        "_src/scss/libraries/tachyons/_font-style.scss",
        "_src/scss/libraries/tachyons/_font-weight.scss",
        "_src/scss/libraries/tachyons/_forms.scss",
        "_src/scss/libraries/tachyons/_heights.scss",
        "_src/scss/libraries/tachyons/_letter-spacing.scss",
        "_src/scss/libraries/tachyons/_line-height.scss",
        "_src/scss/libraries/tachyons/_links.scss",
        "_src/scss/libraries/tachyons/_lists.scss",
        "_src/scss/libraries/tachyons/_max-widths.scss",
        "_src/scss/libraries/tachyons/_widths.scss",
        "_src/scss/libraries/tachyons/_overflow.scss",
        "_src/scss/libraries/tachyons/_position.scss",
        "_src/scss/libraries/tachyons/_opacity.scss",
        "_src/scss/libraries/tachyons/_rotations.scss",
        "_src/scss/libraries/tachyons/_skins.scss",
        "_src/scss/libraries/tachyons/_skins-pseudo.scss",
        "_src/scss/libraries/tachyons/_spacing.scss",
        "_src/scss/libraries/tachyons/_negative-margins.scss",
        "_src/scss/libraries/tachyons/_tables.scss",
        "_src/scss/libraries/tachyons/_text-decoration.scss",
        "_src/scss/libraries/tachyons/_text-align.scss",
        "_src/scss/libraries/tachyons/_text-transform.scss",
        "_src/scss/libraries/tachyons/_type-scale.scss",
        "_src/scss/libraries/tachyons/_typography.scss",
        "_src/scss/libraries/tachyons/_utilities.scss",
        "_src/scss/libraries/tachyons/_visibility.scss",
        "_src/scss/libraries/tachyons/_white-space.scss",
        "_src/scss/libraries/tachyons/_vertical-align.scss",
        "_src/scss/libraries/tachyons/_hovers.scss",
        "_src/scss/libraries/tachyons/_z-index.scss",
        "_src/scss/libraries/tachyons/_nested.scss",
        "_src/scss/libraries/tachyons/_styles.scss",
        "_src/scss/libraries/bootstrap/mixins/_hide-text.scss",
        "_src/scss/libraries/bootstrap/mixins/_opacity.scss",
        "_src/scss/libraries/bootstrap/mixins/_image.scss",
        "_src/scss/libraries/bootstrap/mixins/_labels.scss",
        "_src/scss/libraries/bootstrap/mixins/_reset-filter.scss",
        "_src/scss/libraries/bootstrap/mixins/_resize.scss",
        "_src/scss/libraries/bootstrap/mixins/_responsive-visibility.scss",
        "_src/scss/libraries/bootstrap/mixins/_size.scss",
        "_src/scss/libraries/bootstrap/mixins/_tab-focus.scss",
        "_src/scss/libraries/bootstrap/mixins/_reset-text.scss",
        "_src/scss/libraries/bootstrap/mixins/_text-emphasis.scss",
        "_src/scss/libraries/bootstrap/mixins/_text-overflow.scss",
        "_src/scss/libraries/bootstrap/mixins/_vendor-prefixes.scss",
        "_src/scss/libraries/bootstrap/mixins/_alerts.scss",
        "_src/scss/libraries/bootstrap/mixins/_buttons.scss",
        "_src/scss/libraries/bootstrap/mixins/_panels.scss",
        "_src/scss/libraries/bootstrap/mixins/_pagination.scss",
        "_src/scss/libraries/bootstrap/mixins/_list-group.scss",
        "_src/scss/libraries/bootstrap/mixins/_nav-divider.scss",
        "_src/scss/libraries/bootstrap/mixins/_forms.scss",
        "_src/scss/libraries/bootstrap/mixins/_progress-bar.scss",
        "_src/scss/libraries/bootstrap/mixins/_table-row.scss",
        "_src/scss/libraries/bootstrap/mixins/_background-variant.scss",
        "_src/scss/libraries/bootstrap/mixins/_border-radius.scss",
        "_src/scss/libraries/bootstrap/mixins/_gradients.scss",
        "_src/scss/libraries/bootstrap/mixins/_clearfix.scss",
        "_src/scss/libraries/bootstrap/mixins/_center-block.scss",
        "_src/scss/libraries/bootstrap/mixins/_nav-vertical-align.scss",
        "_src/scss/libraries/bootstrap/mixins/_grid-framework.scss",
        "_src/scss/libraries/bootstrap/mixins/_grid.scss"
      ]
    },
    {
      "path": "_src/pug/pages/index.pug",
      "imports": [
        "_src/pug/templates/_wrapper.pug",
        "_src/pug/mixins/mixins.pug"
      ]
    },
    {
      "path": "_src/pug/templates/_wrapper.pug",
      "imports": [
        "_src/pug/mixins/mixins.pug"
      ]
    },
    {
      "path": "_src/scss/libraries/bootstrap/_bootstrap.scss",
      "imports": [
        "_src/scss/libraries/bootstrap/_variables.scss",
        "_src/scss/libraries/bootstrap/_mixins.scss",
        "_src/scss/libraries/bootstrap/_normalize.scss",
        "_src/scss/libraries/bootstrap/_print.scss",
        "_src/scss/libraries/bootstrap/_glyphicons.scss",
        "_src/scss/libraries/bootstrap/_scaffolding.scss",
        "_src/scss/libraries/bootstrap/_type.scss",
        "_src/scss/libraries/bootstrap/_code.scss",
        "_src/scss/libraries/bootstrap/_grid.scss",
        "_src/scss/libraries/bootstrap/_tables.scss",
        "_src/scss/libraries/bootstrap/_forms.scss",
        "_src/scss/libraries/bootstrap/_buttons.scss",
        "_src/scss/libraries/bootstrap/_component-animations.scss",
        "_src/scss/libraries/bootstrap/_dropdowns.scss",
        "_src/scss/libraries/bootstrap/_button-groups.scss",
        "_src/scss/libraries/bootstrap/_input-groups.scss",
        "_src/scss/libraries/bootstrap/_navs.scss",
        "_src/scss/libraries/bootstrap/_navbar.scss",
        "_src/scss/libraries/bootstrap/_breadcrumbs.scss",
        "_src/scss/libraries/bootstrap/_pagination.scss",
        "_src/scss/libraries/bootstrap/_pager.scss",
        "_src/scss/libraries/bootstrap/_labels.scss",
        "_src/scss/libraries/bootstrap/_badges.scss",
        "_src/scss/libraries/bootstrap/_jumbotron.scss",
        "_src/scss/libraries/bootstrap/_thumbnails.scss",
        "_src/scss/libraries/bootstrap/_alerts.scss",
        "_src/scss/libraries/bootstrap/_progress-bars.scss",
        "_src/scss/libraries/bootstrap/_media.scss",
        "_src/scss/libraries/bootstrap/_list-group.scss",
        "_src/scss/libraries/bootstrap/_panels.scss",
        "_src/scss/libraries/bootstrap/_responsive-embed.scss",
        "_src/scss/libraries/bootstrap/_wells.scss",
        "_src/scss/libraries/bootstrap/_close.scss",
        "_src/scss/libraries/bootstrap/_modals.scss",
        "_src/scss/libraries/bootstrap/_tooltip.scss",
        "_src/scss/libraries/bootstrap/_popovers.scss",
        "_src/scss/libraries/bootstrap/_carousel.scss",
        "_src/scss/libraries/bootstrap/_utilities.scss",
        "_src/scss/libraries/bootstrap/_responsive-utilities.scss",
        "_src/scss/libraries/bootstrap/mixins/_hide-text.scss",
        "_src/scss/libraries/bootstrap/mixins/_opacity.scss",
        "_src/scss/libraries/bootstrap/mixins/_image.scss",
        "_src/scss/libraries/bootstrap/mixins/_labels.scss",
        "_src/scss/libraries/bootstrap/mixins/_reset-filter.scss",
        "_src/scss/libraries/bootstrap/mixins/_resize.scss",
        "_src/scss/libraries/bootstrap/mixins/_responsive-visibility.scss",
        "_src/scss/libraries/bootstrap/mixins/_size.scss",
        "_src/scss/libraries/bootstrap/mixins/_tab-focus.scss",
        "_src/scss/libraries/bootstrap/mixins/_reset-text.scss",
        "_src/scss/libraries/bootstrap/mixins/_text-emphasis.scss",
        "_src/scss/libraries/bootstrap/mixins/_text-overflow.scss",
        "_src/scss/libraries/bootstrap/mixins/_vendor-prefixes.scss",
        "_src/scss/libraries/bootstrap/mixins/_alerts.scss",
        "_src/scss/libraries/bootstrap/mixins/_buttons.scss",
        "_src/scss/libraries/bootstrap/mixins/_panels.scss",
        "_src/scss/libraries/bootstrap/mixins/_pagination.scss",
        "_src/scss/libraries/bootstrap/mixins/_list-group.scss",
        "_src/scss/libraries/bootstrap/mixins/_nav-divider.scss",
        "_src/scss/libraries/bootstrap/mixins/_forms.scss",
        "_src/scss/libraries/bootstrap/mixins/_progress-bar.scss",
        "_src/scss/libraries/bootstrap/mixins/_table-row.scss",
        "_src/scss/libraries/bootstrap/mixins/_background-variant.scss",
        "_src/scss/libraries/bootstrap/mixins/_border-radius.scss",
        "_src/scss/libraries/bootstrap/mixins/_gradients.scss",
        "_src/scss/libraries/bootstrap/mixins/_clearfix.scss",
        "_src/scss/libraries/bootstrap/mixins/_center-block.scss",
        "_src/scss/libraries/bootstrap/mixins/_nav-vertical-align.scss",
        "_src/scss/libraries/bootstrap/mixins/_grid-framework.scss",
        "_src/scss/libraries/bootstrap/mixins/_grid.scss"
      ]
    },
    {
      "path": "_src/scss/libraries/bootstrap/_mixins.scss",
      "imports": [
        "_src/scss/libraries/bootstrap/mixins/_hide-text.scss",
        "_src/scss/libraries/bootstrap/mixins/_opacity.scss",
        "_src/scss/libraries/bootstrap/mixins/_image.scss",
        "_src/scss/libraries/bootstrap/mixins/_labels.scss",
        "_src/scss/libraries/bootstrap/mixins/_reset-filter.scss",
        "_src/scss/libraries/bootstrap/mixins/_resize.scss",
        "_src/scss/libraries/bootstrap/mixins/_responsive-visibility.scss",
        "_src/scss/libraries/bootstrap/mixins/_size.scss",
        "_src/scss/libraries/bootstrap/mixins/_tab-focus.scss",
        "_src/scss/libraries/bootstrap/mixins/_reset-text.scss",
        "_src/scss/libraries/bootstrap/mixins/_text-emphasis.scss",
        "_src/scss/libraries/bootstrap/mixins/_text-overflow.scss",
        "_src/scss/libraries/bootstrap/mixins/_vendor-prefixes.scss",
        "_src/scss/libraries/bootstrap/mixins/_alerts.scss",
        "_src/scss/libraries/bootstrap/mixins/_buttons.scss",
        "_src/scss/libraries/bootstrap/mixins/_panels.scss",
        "_src/scss/libraries/bootstrap/mixins/_pagination.scss",
        "_src/scss/libraries/bootstrap/mixins/_list-group.scss",
        "_src/scss/libraries/bootstrap/mixins/_nav-divider.scss",
        "_src/scss/libraries/bootstrap/mixins/_forms.scss",
        "_src/scss/libraries/bootstrap/mixins/_progress-bar.scss",
        "_src/scss/libraries/bootstrap/mixins/_table-row.scss",
        "_src/scss/libraries/bootstrap/mixins/_background-variant.scss",
        "_src/scss/libraries/bootstrap/mixins/_border-radius.scss",
        "_src/scss/libraries/bootstrap/mixins/_gradients.scss",
        "_src/scss/libraries/bootstrap/mixins/_clearfix.scss",
        "_src/scss/libraries/bootstrap/mixins/_center-block.scss",
        "_src/scss/libraries/bootstrap/mixins/_nav-vertical-align.scss",
        "_src/scss/libraries/bootstrap/mixins/_grid-framework.scss",
        "_src/scss/libraries/bootstrap/mixins/_grid.scss"
      ]
    },
    {
      "path": "_src/scss/libraries/bootstrap/_theme.scss",
      "imports": [
        "_src/scss/libraries/bootstrap/_variables.scss",
        "_src/scss/libraries/bootstrap/_mixins.scss",
        "_src/scss/libraries/bootstrap/mixins/_hide-text.scss",
        "_src/scss/libraries/bootstrap/mixins/_opacity.scss",
        "_src/scss/libraries/bootstrap/mixins/_image.scss",
        "_src/scss/libraries/bootstrap/mixins/_labels.scss",
        "_src/scss/libraries/bootstrap/mixins/_reset-filter.scss",
        "_src/scss/libraries/bootstrap/mixins/_resize.scss",
        "_src/scss/libraries/bootstrap/mixins/_responsive-visibility.scss",
        "_src/scss/libraries/bootstrap/mixins/_size.scss",
        "_src/scss/libraries/bootstrap/mixins/_tab-focus.scss",
        "_src/scss/libraries/bootstrap/mixins/_reset-text.scss",
        "_src/scss/libraries/bootstrap/mixins/_text-emphasis.scss",
        "_src/scss/libraries/bootstrap/mixins/_text-overflow.scss",
        "_src/scss/libraries/bootstrap/mixins/_vendor-prefixes.scss",
        "_src/scss/libraries/bootstrap/mixins/_alerts.scss",
        "_src/scss/libraries/bootstrap/mixins/_buttons.scss",
        "_src/scss/libraries/bootstrap/mixins/_panels.scss",
        "_src/scss/libraries/bootstrap/mixins/_pagination.scss",
        "_src/scss/libraries/bootstrap/mixins/_list-group.scss",
        "_src/scss/libraries/bootstrap/mixins/_nav-divider.scss",
        "_src/scss/libraries/bootstrap/mixins/_forms.scss",
        "_src/scss/libraries/bootstrap/mixins/_progress-bar.scss",
        "_src/scss/libraries/bootstrap/mixins/_table-row.scss",
        "_src/scss/libraries/bootstrap/mixins/_background-variant.scss",
        "_src/scss/libraries/bootstrap/mixins/_border-radius.scss",
        "_src/scss/libraries/bootstrap/mixins/_gradients.scss",
        "_src/scss/libraries/bootstrap/mixins/_clearfix.scss",
        "_src/scss/libraries/bootstrap/mixins/_center-block.scss",
        "_src/scss/libraries/bootstrap/mixins/_nav-vertical-align.scss",
        "_src/scss/libraries/bootstrap/mixins/_grid-framework.scss",
        "_src/scss/libraries/bootstrap/mixins/_grid.scss"
      ]
    },
    {
      "path": "_src/scss/libraries/tachyons/_tachyons.scss",
      "imports": [
        "_src/scss/libraries/tachyons/_normalize.scss",
        "_src/scss/libraries/tachyons/_colors.scss",
        "_src/scss/libraries/tachyons/_media-queries.scss",
        "_src/scss/libraries/tachyons/_debug-children.scss",
        "_src/scss/libraries/tachyons/_debug-grid.scss",
        "_src/scss/libraries/tachyons/_debug.scss",
        "_src/scss/libraries/tachyons/_box-sizing.scss",
        "_src/scss/libraries/tachyons/_aspect-ratios.scss",
        "_src/scss/libraries/tachyons/_images.scss",
        "_src/scss/libraries/tachyons/_background-size.scss",
        "_src/scss/libraries/tachyons/_background-position.scss",
        "_src/scss/libraries/tachyons/_outlines.scss",
        "_src/scss/libraries/tachyons/_borders.scss",
        "_src/scss/libraries/tachyons/_border-colors.scss",
        "_src/scss/libraries/tachyons/_border-radius.scss",
        "_src/scss/libraries/tachyons/_border-style.scss",
        "_src/scss/libraries/tachyons/_border-widths.scss",
        "_src/scss/libraries/tachyons/_box-shadow.scss",
        "_src/scss/libraries/tachyons/_code.scss",
        "_src/scss/libraries/tachyons/_coordinates.scss",
        "_src/scss/libraries/tachyons/_clears.scss",
        "_src/scss/libraries/tachyons/_display.scss",
        "_src/scss/libraries/tachyons/_flexbox.scss",
        "_src/scss/libraries/tachyons/_floats.scss",
        "_src/scss/libraries/tachyons/_font-family.scss",
        "_src/scss/libraries/tachyons/_font-style.scss",
        "_src/scss/libraries/tachyons/_font-weight.scss",
        "_src/scss/libraries/tachyons/_forms.scss",
        "_src/scss/libraries/tachyons/_heights.scss",
        "_src/scss/libraries/tachyons/_letter-spacing.scss",
        "_src/scss/libraries/tachyons/_line-height.scss",
        "_src/scss/libraries/tachyons/_links.scss",
        "_src/scss/libraries/tachyons/_lists.scss",
        "_src/scss/libraries/tachyons/_max-widths.scss",
        "_src/scss/libraries/tachyons/_widths.scss",
        "_src/scss/libraries/tachyons/_overflow.scss",
        "_src/scss/libraries/tachyons/_position.scss",
        "_src/scss/libraries/tachyons/_opacity.scss",
        "_src/scss/libraries/tachyons/_rotations.scss",
        "_src/scss/libraries/tachyons/_skins.scss",
        "_src/scss/libraries/tachyons/_skins-pseudo.scss",
        "_src/scss/libraries/tachyons/_spacing.scss",
        "_src/scss/libraries/tachyons/_negative-margins.scss",
        "_src/scss/libraries/tachyons/_tables.scss",
        "_src/scss/libraries/tachyons/_text-decoration.scss",
        "_src/scss/libraries/tachyons/_text-align.scss",
        "_src/scss/libraries/tachyons/_text-transform.scss",
        "_src/scss/libraries/tachyons/_type-scale.scss",
        "_src/scss/libraries/tachyons/_typography.scss",
        "_src/scss/libraries/tachyons/_utilities.scss",
        "_src/scss/libraries/tachyons/_visibility.scss",
        "_src/scss/libraries/tachyons/_white-space.scss",
        "_src/scss/libraries/tachyons/_vertical-align.scss",
        "_src/scss/libraries/tachyons/_hovers.scss",
        "_src/scss/libraries/tachyons/_z-index.scss",
        "_src/scss/libraries/tachyons/_nested.scss",
        "_src/scss/libraries/tachyons/_styles.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7886,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"],\"output\":{\"replaceSegments\":[\"scss\"],\"replaceSegmentsWith\":\"../css\"},\"compiler-minify-css\":{\"enabled\":true},\"outputSuffix\":null}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"],\"output\":{\"replaceSegments\":[\"pages\"],\"replaceSegmentsWith\":\"../../\"},\"outputSuffix\":null}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"js\"],\"replaceSegmentsWith\":\"../js\"},\"outputSuffix\":\".min\"}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "hoist_funs": true,
      "keep_fargs": false,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "cascade": true,
      "side_effects": true,
      "pure_getters": false,
      "negate_iife": true,
      "screw_ie8": false,
      "drop_console": false,
      "angular": false,
      "warnings": false,
      "pure_funcs": [],
      "global_defs": []
    },
    "output": {
      "quote_keys": false,
      "space_colon": true,
      "ascii_only": false,
      "unescape_regexps": false,
      "inline_script": false,
      "beautify": false,
      "bracketize": false,
      "semicolons": true,
      "comments": false,
      "preserve_line": false,
      "screw_ie8": false
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"],\"compiler-png\":{\"enabled\":true,\"originalSize\":0,\"newSize\":0}}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}